!!! 5
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %meta{http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1'}

    %title #{(title ? title + ' - ' : '')} MkLog.fr - My personal playground around front-end engineering - par Mickaël Daniel

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{rel: 'apple-touch-icon', href: '/apple-touch-icon.png'}

    %link{rel: 'stylesheet', href: '/css/style.css?v=2'}

    %script{src: '/js/libs/modernizr-1.6.min.js?v=2'}
  %body
    %header{id: 'header', role: 'banner'}
      .banner
        %h1 
          %a.js-slide-to{href: '/', id: 'logo'} MkLog<span>.</span><span class="rt-315 csstransition-please">fr</span>
      %nav{id: 'top'}
        %ul
          :each item in categories
            %li
              %a{href: "/category/" + item, class: 'js-slide-to'}&= unescape(item)
          %span.rss
            %a{href: 'http://feeds.feedburner.com/mklog'} Entries (RSS)

                
    #container.clearfix
      #main.csstransition-please{role: 'main'}
        .frames
          = content
          %div{class: 'frame frame-loading', style: 'display: none;'}
            %img{src: '/img/big_spinner_336699.gif'}


    %footer
      %p
        Fièrement propulsé par 
        %a{href: 'https://github.com/creationix/wheat'} 
          Wheat 
        et 
        %a{href: 'http://nodejs.org/'} 
          node.js 0.3.2
        %span ||
        Theme 
        %a{href: 'https://github.com/mklabs/wheat-harmonious-theme/'} 
          wheat-harmonious-theme 
      
      %hr
      Les articles et contenu du site sont humblement mis à disposition selon les termes de la license 
      %a{href: 'http://sam.zoy.org/wtfpl/COPYING'} 
        WTFPL
      (hors exercice de tradution)

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
    %script !window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'))
    
    
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"}
    %script !window.jQuery.ui && document.write(unescape('%3Cscript src="/js/libs/jquery-ui-1.7.2.js"%3E%3C/script%3E'))

    <!-- scripts concatenated and minified via ant build script -->
    %script{src: "/js/mylibs/ui.treeslider.js?v=2"}
    %script{src: "/js/mylibs/jquery-gtranslate/jquery.gtranslate.js?v=2"}
    %script{src: "/js/plugins.js?v=2"}
    %script{src: "/js/script.js?v=2"}
    <!-- end concatenated and minified scripts -->

    <!--[if lt IE 7 ]> 
    %script{src: "/js/libs/dd_belatedpng.js?v=2"}
    %script  DD_belatedPNG.fix('img, .png_bg');
    <![endif]-->

    :script
      var _gaq = [['_setAccount', 'UA-19447118-1'], ['_trackPageview']];
      (function(d, t) {
      	var g = d.createElement(t),
      	s = d.getElementsByTagName(t)[0];
      	g.async = true;
      	g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      	s.parentNode.insertBefore(g, s);
      })(document, 'script');
</html>